@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

body{
  margin: auto;
  padding: 0;
  position: relative;
}

.cardSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5vw;
  margin-top: -13vw;
  padding: 0 3vw;
  padding-bottom: 4vw;

}

.teamSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 8vw;
  gap: 6vw;
  padding-bottom: 8vw;
}

.meetTheTeam{
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 4vw;
  color: #002BC2;
  font-weight: 400;
}

@media screen and (max-width: 1007px){
  .cardSection{
    grid-template-columns: repeat(2, 1fr);
    gap: 6vw;
    margin-top: -10vw;
    padding: 0 4vw;
    padding-bottom: 8vw;
  }

  .teamSection{
    grid-template-columns: 1fr 1fr;
    padding: 0 2vw;
    gap: 8vw;
    padding-bottom: 8vw;
  }
  
  .meetTheTeam{
    font-size: 8vw;
  }


}

@media screen and (max-width: 640px){
  .cardSection{
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
    margin-top: -8vw;
    padding: 0 4vw;
    padding-bottom: 8vw;
  }

  .teamSection{
    grid-template-columns: 1fr;
    padding: 0 16vw;
    gap: 16vw;
    padding-bottom: 16vw;
  }
  
  .meetTheTeam{
    font-size: 10vw;
  }

}